server {
    listen       80;
    server_name  localhost;

    location / {
        root   /;
        index  /data/static/index.html;
    }

    location /api/ {
        proxy_pass ${BACKEND_HOST};
    }

    location /test/ {
        root   /;
        index  /data/static/test_page.html;
    }

    location ~ \.(gif|jpg|png)$ {
        root /data/images;
    }

    # Запросы должны иметь вид http://localhost:8080/test/ !!!! То есть, не забывать про слеш в конце

    # When a process inside docker tries to connect to localhost:8081 that translates to "port 8081 on the docker container", 
    # and NOT "port 8081 on the host".
    # То есть, нужно указать ip контейнера внутри сети докера, при этом, выводить порт бекенда наружу не нужно

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

# Прокси-сервер
server {
    listen 8080;

    location / {
        proxy_pass http://localhost:8888; # TODO: Вот так?
    }
}